extends layout

block body
  - if (locals.demo)
    div.notice-bar  Tableau de démonstration

  //div.config
  //	i.fa.fa-cog.fa-lg.faded-icon

  h1 E-Board - Coopération

  div.board-outline
    div#board

      div#board-doodles

      image#marker(src=locals.url+'images/marker.png')
      image#eraser(src=locals.url+'images/eraser.png')


      table#board-table.board-table

        div.stickers
          div.sticker#sticker-red
          div.sticker#sticker-blue
          div.sticker#sticker-yellow
          div.sticker#sticker-green
          br
          div.sticker#sticker-pink
          div.sticker#sticker-lightblue
          div.sticker#sticker-orange
          div.sticker#sticker-purple

          br
          div.sticker#nosticker
        tr
          td#icon-col(width='1%')
            image#add-col.col-icon(width='20', height='20', src=locals.url+'images/icons/iconic/raster/black/plus_alt_32x32.png')
            image#delete-col.col-icon(width='20', height='20', src=locals.url+'images/icons/iconic/raster/black/minus_alt_32x32.png')


  table.table-menu

    tr
      td(style="width:25%;")
        div.buttons
          image#create-card.bottom-icon( title="Hasard" , width='24', height='24',src=locals.url+'images/icons/iconic/raster/black/plus_random_24x24.png')
          image#create-cardG.bottom-icon( title="Vert", width='24', height='24',src=locals.url+'images/icons/iconic/raster/black/plus_green_24x24.png')
          image#create-cardB.bottom-icon( title="Bleu", width='24', height='24',src=locals.url+'images/icons/iconic/raster/black/plus_blue_24x24.png')
          image#create-cardY.bottom-icon( title="Jaune", width='24', height='24',src=locals.url+'images/icons/iconic/raster/black/plus_yellow_24x24.png')
          image#create-cardW.bottom-icon(title="Blanc",width='24', height='24',src=locals.url+'images/icons/iconic/raster/black/plus_white_24x24.png')
          image#smallify.bottom-icon(width="23",height="23",src=locals.url+"images/icons/cc/black/png/zoom_icon&24.png")
      td(style="width:5%;")

      td(style="width:50%;")
        div.export
          h3 Exporter  & Importer
          div
            p Exporter :
              button#export-txt Text format
              button#export-csv CSV format
              button#export-json JSON format
            p Importer
              label(for="import-input") 
              input(type="file" accept=".json")#import-input
              button#import-file Importer

        div.revisions
          h3 Revisions
          div
            button#create-revision Créer une revision
            div
              ul#revisions-list

      td(style="width:20%;")
        p Participants
        span.you-text (Moi)
        ul#names-ul
