doctype html
html(lang="en")
  head

    <!-- STYLES -->
    link(rel="stylesheet" type="text/css" href=locals.url+"css/font-awesome-4.1.0.min.css")

    link(rel="stylesheet" ,type="text/css", href=locals.url+"css/style.css")
    link(href=locals.url+'css/bigcards.css', rel='stylesheet', title="cardsize", type="text/css" ,media="all" )


    <!-- FONTS -->

    link(href=locals.url+'css/rock-salt.css', rel='stylesheet')
    link(href=locals.url+'css/covered-by-your-grace.css', rel='stylesheet')

    <!-- SCRIPTS -->

    script(src=locals.url+'lib/jquery-1.11.0.min.js')
    script(src=locals.url+'lib/jquery-ui/development-bundle/ui/jquery-ui-1.11.1.js')

    script(src=locals.url+"lib/jquery.ui.touch-punch.min.js")
    script(src=locals.url+"lib/jquery.jeditable.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/2.0.17/jquery.jeditable.js")
    script(src=locals.url+"lib/jquery.blockUI.js")
    script(src=locals.url+"lib/marked.min.js")
    script(src=locals.url+"lib/moment-with-locales.min.js")
    <!--script(src="https://jitsi.mim.ovh/external_api.js") -->
    script(src="https://meet.jit.si/external_api.js")
    <!-- Socket.IO -->
    script(src=locals.url+"socket.io/socket.io.js")

    <!-- ** My Script ** -->
    script(src=locals.url+"config.js")
    script(src=locals.url+"script.js")

    title= locals.pageTitle
    title = "terpioeztri"

  body
    block body
